.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    background-color: black;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto; 
}

.model {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 400px 30%;
    height: 100%;
    background-color: white;
}

.header {
    padding: 30px;
    overflow: auto;
    height: 100%;
}

h3 {
    font-size: 25px;
    font-family: "EB Garamond";
}

h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: "EB Garamond";
}

.itemremove {
    display: flex;
    align-items: center;
    border:0;
}

.shoppingbag {
    margin-bottom: 15px;
}

.cartlist {
    padding: 15px 0;
}

.flex {
    flex: 1 1 40%;
}

.images {
    width: 123px;
    height: 164px;
}

.flex1 {
    flex: 1 1 40%;
}

.flex2 {
    flex: 1 1 60%;
}

.mb {
    margin-bottom: 5px;
}

.mb button {
    border: 0;
    background-color: white;
}


.margin {
    margin: 15px 0;
}

.margin1 {
    margin: 20px 0;
}

.action {
    background-color: black;
    color: white;
    border-radius: 0;
    min-width: 100%;
    padding: 20px 40px;
    margin: 20px 0;
}

.shoppingbag button {
    cursor: pointer;
    border: 0;
}

.divider {
    border-top: 1px solid black;
    margin: 1rem 0;
}

.name i {
    border: 0;
}