.footerContainer {
    margin-top: 70px;
    padding: 40px 0;
    background-color: rgb(218, 191, 207);
}

.insideContainer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: clamp(20px, 30px, 40px);
}

.containerBox {
    width: clamp(20%, 30%, 40%);
}

.containerBox .paragraph {
    font-size: 1.2rem;
    font-family: 'Assistant';
    font-weight: 500;
}

.containerBox h4 {
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(144, 64, 109);
    font-size: 1.5rem;
}

.footer h4, .address h4 {
    font-family: 'Montserrat';
    font-size: 1.3rem;
    color: rgb(144, 64, 109);
}

.address {
    width: clamp(20%, 25%, 30%);
}

.footer h5, .address h5 {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: bold;
}