.productBox {
    width: 80%;
    margin: 80px auto;
}

.productBox h3 {
  font-family: sans-serif;
  font-size: 30px;
}

.feature {
    text-align: center;
    font-family: sans-serif;
}

.grid {
    margin: 0 auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1.5fr));
    row-gap: 20px;
    column-gap: 1.33%;
}

.grid .item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 100%; 
}

.indicator {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: black;
    transition: left 0.3s ease-in-out;
  }
  
  .displayBlock {
    display: block;
  }
  
  .displayNone {
    display: none;
  }